#
# Reun Media Browserslist
#
# @author Reun Media <company@reun.eu>
# @copyright 2022 Reun Media
#
# @see https://github.com/Reun-Media/project-templates/blob/main/base/webdev/frontend/.browserslistrc
#
# @version 1.0.1
#

defaults
maintained node versions
