#
# Reun Media Coolify Deployment GitHub Action workflow
#
# @author Reun Media <company@reun.eu>
# @copyright 2024 Reun Media
#
# @see https://github.com/Reun-Media/project-templates/blob/master/.github/workflows/coolify-deployment.yml
#
# @version 1.0.0
#

name: "Coolify Deployment"

on:
  workflow_dispatch:
    inputs:
      environment:
        required: true
        type: choice
        options:
          - production
          - staging
        default: staging

env:
  COOLIFY_URL: >-
    ${{ inputs.environment == 'production'
        && vars.COOLIFY_PRODUCTION_URL
        || vars.COOLIFY_STAGING_URL
    }}
  COOLIFY_RESOURCE_ID: >-
    ${{ inputs.environment == 'production'
        && vars.COOLIFY_PRODUCTION_RESOURCE_ID
        || vars.COOLIFY_STAGING_RESOURCE_ID
    }}
  COOLIFY_API_TOKEN: >-
    ${{ inputs.environment == 'production'
        && secrets.COOLIFY_PRODUCTION_API_TOKEN
        || secrets.COOLIFY_STAGING_API_TOKEN
    }}

jobs:
  coolify-deployment:
    runs-on: ubuntu-latest
    steps:
      # Make sure supplied Coolify URL doesn't end in a slash. This
      # is important, because having an extra slash breaks the API
      # request.
      - name: Validate variables
        # https://docs.github.com/en/actions/security-for-github-actions/security-guides/security-hardening-for-github-actions#using-an-intermediate-environment-variable
        env:
          COOLIFY_URL: ${{env.COOLIFY_URL}}
        run: |
          echo "Validating that coolify_url doesn't end in '/'"
          echo "$COOLIFY_URL" | grep -P '[^/]$'

      # Update Coolify project's source commit SHA via API request. This
      # is done to make sure Coolify deploys the exact commit that
      # triggered this action.
      - name: Update source commit SHA in Coolify
        uses: fjogeleit/http-request-action@v1
        with:
          url: ${{env.COOLIFY_URL}}/api/v1/applications/${{env.COOLIFY_RESOURCE_ID}}
          method: PATCH
          bearerToken: ${{env.COOLIFY_API_TOKEN}}
          data: >-
            {
            "git_commit_sha": "${{github.sha}}"
            }

      - name: Trigger Coolify deployment via webhook
        uses: fjogeleit/http-request-action@v1
        with:
          url: ${{env.COOLIFY_URL}}/api/v1/deploy?uuid=${{env.COOLIFY_RESOURCE_ID}}&force=false
          method: GET
          bearerToken: ${{env.COOLIFY_API_TOKEN}}
